{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/blog.css"%}">
</head>
<body>

    <nav class="navbar text-white bg-secondary">
         <span class="navbar-brand mb-0 h1">MyBlog</span>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
    </div>
</body>
</html>